
.backdrop {
  z-index: 40;
} */

.navbar {
  position: sticky;
  top: 0;
  z-index: 40; 
}

/* Sticky Sidebar */
.sidebar {
  position: sticky;
  top: 0;
  height: 100vh; 
  overflow-y: auto; 
}

.calendar-container {
  flex: 1;
  overflow-y: auto; 
}